html, body {
        height: 100%;
        }
        .main-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        .content-wrapper {
        flex: 1;
        }
         /* styles for desktop */
        header {
        display: flex;
        align-items: center;
        background-color: #fff;
        height: 90px;
        }

        /* styles for mobile */
        @media only screen and (max-width: 767px) {
          header {
            height: auto;
            flex-direction: column;
          }
        }

        .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 54px;
        box-sizing: border-box;
        box-shadow: 0px 11px 9px rgba(0, 0, 0, 0.06);
        }

        .logo img {
        height: 78px;
        padding: 2px;
        }

        .nav-right p {
        color: #124aa1;
        margin-right: 20px;
        font-size: 14px;
        }
        footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        }
        .elipa-info {
             margin-top:3%;
        }
        .nav-right{
        color:#124aa1;
        font-size: 16px;
        font-weight: bold;
        }
        .ipay-orange{
            color: #f29103;
        }
        .fa{
          color:#f29103;
        }
        .country-flag{
          width:30px;
        }
        .table td, .table th {
          padding: .75rem;
          vertical-align: top;
          border-top: 0px solid #124aa1;
          color: #fff;
          font-size: 13px;

        }
        .contacts{
          font-size: 13px;
        }
        .country-title{
          font-size: 16px;
          font-weight:bold;
          color:#f29103 !important;
        }
        .contact-title{
          font-size: 16px;
          font-weight:bold;
          color:#f29103 !important;
           padding-top: 5%;
        }
        @media only screen and (max-width: 767px) {
          footer {
            position: relative;
            bottom: auto;
          }
        }
        a{
          color:#fff;
        }
        a:hover {
          color:#f29103;
        }